<!DOCTYPE html>
<html>
<head>
  <title>Esignature</title>
  <%= stylesheet_link_tag    "esignature/application", :media => "all" %>
  <%= javascript_include_tag "esignature/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
